@import "constants";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  justify-content: center;
  display: flex;
}

.expert-system-mode-wrapper {
  justify-self: center;
  margin-top: 5vh;
  .button-wrapper{
    display: flex;
    justify-content: center;
  }


  button {
    font-size: 40px;
    padding: 10px;
    color: $background-color;
    background-color: #fff;
    border: none;
    margin: 3px;
    border-radius: 22px;
    font-family: -apple-system, "Times New Roman", Arial, serif;
  }

  button:hover {
    scale: 100.3%;
  }
}

h1 {
  color: #fff;
  top: 0;
  font-size: 50px;
  margin-bottom: 10rem;
  text-align: center;
}