$saver-form-height: 1rem;
.row{
  display: flex;
}
.save-points-form {
  display: flex;
  font-size: 0.85rem;
  align-items: center;
  height: $saver-form-height;

  p {
    text-align: center;
  }

  input {
    width: 15%;
    margin-left: .25rem;
  }


}
.suggestion-button{
  height: 100%;
  width: $saver-form-height;
  display: flex;
  img {
    height: 100%;
    width: 100%;
  }
  margin-left: .25rem;
}